<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activos</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.8/dist/lux/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Activos Registrados</h2>

        <a href="{% url 'crear_activo' %}" class="btn btn-primary">
          Nuevo Activo
        </a>
      </div>

      <div class="card">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Conf.</th>
                <th>Int.</th>
                <th>Disp.</th>
                <th>Valor Total</th>
              </tr>
            </thead>

            <tbody>
              {% for activo in activos %}
              <tr>
                <td>{{ activo.nombre }}</td>
                <td>{{ activo.get_tipo_display }}</td>
                <td>{{ activo.confidencialidad }}</td>
                <td>{{ activo.integridad }}</td>
                <td>{{ activo.disponibilidad }}</td>
                <td>{{ activo.valor_total }}</td>
                <td class="text-end">
                  <a
                    href="{% url 'eliminar_activo' activo.id %}"
                    class="btn btn-danger btn-sm"
                  >
                    Borrar
                  </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="6" class="text-center">
                  No existen activos registrados.
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
